[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ultralytics = "*"
matplotlib = "*"
pyyaml = "*"
requests = "*"
torch = "*"
torchvision = "*"
pygame = "*"
streamlit = "*"
albumentations = "*"
seaborn = "*"
scikit-learn = "*"
fiftyone = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.12"
